---
---
@charset "utf-8";

// CSS custom properties
:root {
  --text-color: #111;
  --background-color: #fdfdfd;
  --brand-color: #505050;
  --link-color: #E87387;
  --grey-color: #828282;
  --container-width: 650px;
  --base-font-size: 18px;
  --font-sans: 'Lato', Helvetica, Arial, sans-serif;
  --font-serif: 'Zilla Slab', serif;
}

// SCSS variables
$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$serif-font-family: 'Zilla Slab', serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5em;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #505050;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color:       #E87387;

$container-width:  650px;

$content-width:    800px;

$on-tablet:        600px;
$on-laptop:        720px;


@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "responsive",
        "common",
        "post",
        "about"
;
