.bio {
  margin-top: 15vh;
  a {
    border-bottom: 1px $text-color dotted;
    &:hover {
        border-bottom: 1px $text-color solid;
    }
  }
  .about {
    color: #444;
    p {
      line-height: 1.5em;
      padding: 10px 0;
    }
  }
}
