.bio {
  margin-top: 100px;
  a {
    border-bottom: 1px $text-color dotted;
    &:hover {
        border-bottom: 1px $text-color solid;
    }
  }
  .about {
    color: #444;
    p {
      line-height: 1.5em;
      padding: 10px 0;
    }
  }
  @include media-query($on-laptop) {
    margin-top: 200px;
  }
}
