html, body {
  height: 100%;
}

em {
  font-style: italic;
}

nav {
  margin: 0 auto;
  padding: 30px 0 20px;
  overflow: hidden;
  .name {
    float: left;
    a {
      text-decoration: none;
    }
  }
  .about {
    float: right;
    font-size: 1.4em;
  }
}

.rule {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .social-media {
    margin: 0 auto;
    padding: 20px;
    width: 120px;
    a {
      margin-left: 20px;
      transition: all .3s ease;
      &:hover {
        text-decoration: none;
        color: #55acee;
      }
    }
    i {
      font-size: 2em;
    }
  }
}

.page {
  margin: 100px auto 0;
  padding-bottom: 90px;
}

.post-list {
  .post-item {
    padding: 20px 0;
  }
  .post-item-meta {
    float: right;
    color: #999;
  }
  h2 {
    margin: 0;
  }
}
