body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.5em;
  overflow-y: scroll;
}

em {
  font-style: italic;
}

nav {
  margin: 20px auto;
  padding: 10px 0;
  width: $container-width;
  overflow: hidden;
  .name {
    text-decoration: none;
    font-size: 2em;
  }
  .about {
    float: right;
    font-size: 1.4em;
  }
}

.rule {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page {
  margin: 100px auto;
  width: $container-width;
}

.post-list {
  .post-item {
    padding: 20px 0;
  }
  .post-item-meta {
    float: right;
  }
  h2 {
    margin: 0;
  }
}

