.post {
  margin-top: 50px;
  .post-title {
    margin-bottom: 10px;
  }
  .post-meta {
    margin-left: 2px;
    font-size: 0.8em;
    color: #999;
  }
  p {
    color: #444;
    line-height: 1.5em;
  }

  ul {
    list-style: inside;
    li {
      margin-bottom: 5px;
      font-size: 1.1em;
      @include media-query($on-laptop) {
        font-size: 1.2em;
      }
    }
  }

  a {
    color: $link-color;
  }
}

#disqus_thread {
  margin: 30px 0;
}
