/* line 17, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../assets/stylesheets/site.scss */
body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.5em;
}

/* line 8, ../assets/stylesheets/site.scss */
nav {
  margin: 10px auto;
  width: 46.703%;
  overflow: hidden;
}
/* line 12, ../assets/stylesheets/site.scss */
nav li {
  float: left;
  padding: 0 10px;
}
/* line 15, ../assets/stylesheets/site.scss */
nav li a {
  color: #666;
  font-size: 1.2em;
  font-variant: small-caps;
  text-decoration: none;
}
/* line 22, ../assets/stylesheets/site.scss */
nav li:hover {
  border-bottom: 1px solid rgba(255, 0, 0, 0.4);
}

/* line 27, ../assets/stylesheets/site.scss */
.page {
  margin: 0px auto;
  padding: 20px 0;
  width: 46.703%;
}

/* line 33, ../assets/stylesheets/site.scss */
.bio {
  margin-top: 200px;
}
/* line 35, ../assets/stylesheets/site.scss */
.bio .name {
  padding: 20px 10px;
  font-size: 3em;
}
/* line 39, ../assets/stylesheets/site.scss */
.bio .about {
  padding: 10px;
  font-size: 1.5em;
  color: #444;
}
/* line 43, ../assets/stylesheets/site.scss */
.bio .about p {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 50, ../assets/stylesheets/site.scss */
.posts {
  margin-top: 50px;
}
/* line 52, ../assets/stylesheets/site.scss */
.posts .blog-post {
  padding: 20px 0;
}
/* line 54, ../assets/stylesheets/site.scss */
.posts .blog-post h1 {
  padding: 10px 0;
  font-size: 1.5em;
}
/* line 58, ../assets/stylesheets/site.scss */
.posts .blog-post .title a {
  color: #111;
  text-decoration: none;
}
/* line 62, ../assets/stylesheets/site.scss */
.posts .blog-post .title a:hover {
  color: #070;
}
/* line 65, ../assets/stylesheets/site.scss */
.posts .blog-post p {
  color: #444;
}

/* line 71, ../assets/stylesheets/site.scss */
.post {
  margin-top: 50px;
}
/* line 73, ../assets/stylesheets/site.scss */
.post .title {
  font-size: 2em;
  padding: 50px 0;
  text-align: center;
}
/* line 78, ../assets/stylesheets/site.scss */
.post p {
  color: #444;
  font-size: 1.3em;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 87, ../assets/stylesheets/site.scss */
#disqus_thread {
  margin: 30px 0;
}
