<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/stylesheets/site.css" type="text/css">
    <meta name="author" content="Jithu Gopal" />
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37455421-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/blog">blog</a></li>
        <li><a href="/">about</a></li>
      </ul>
    </nav>
    <div class="page">
      {{ content }}
    </div>
  </body>
</html>
